# 7 Days Data Science

## Primeiro Dia Limpeza dos Dados

No primeiro dia, nos foi passado os [Dados Abertos - CEAPS](https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps?utm_source=ActiveCampaign&utm_medium=email&utm_content=%237DaysOfCode+-+Ci%C3%AAncia+de+Dados+1%2F7%3A+Data+Cleaning+and+Preparation&utm_campaign=%5BAlura+%237Days+Of+Code%5D%28Java%29+Dia+1%2F7%3A+Consumir+uma+API+de+filmes), precisamos entender os dados, procurar inconsistências, fazer a limpeza.

No notebook Concatenar Dados eu unifiquei todos os dados em um unico arquivo. Irei chamar abaixo.

In [155]:
import pandas as pd

In [156]:
dataset = pd.read_csv(r"C:\Users\Jose Eduardo\Documents\GitHub\7_days_data_science_alura\Dados\combined_csv.csv")

In [157]:
dataset.head(3)

,index,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,6582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,6582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000,2113817

Por algum motivo veio também uma coluna Index, primeira coisa irei retirar o DataFrame

In [158]:
dataset.drop(columns=['index'], inplace=True)

In [159]:
dataset

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,6582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,6582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,7236036,04/02/2019,Despesa com pagamento de energia elétrica para...,"99,45",2116550
...,...,...,...,...,...,...,...,...,...,...,...
62823,2022,7,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FRMXSO,26/07/2022,"Companhia Aérea: GOL, Localizador: FRMXSO. Pas...","1826,25",2184750
62824,2022,7,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,YQRYAW,26/07/2022,"Companhia Aérea: LATAM, Localizador: YQRYAW. P...","2189,41",2184748
62825,2022,8,ZEQUINHA MARINHO,"Locomoção, hospedagem, alimentação, combustíve...",27.522.923/0001-60,Casarao da Vila Restaurante LTDA - ME,127032,03/08/2022,NaN,"26,57",2184892
62826,2022,8,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FLXNAO,02/08/2022,"Companhia Aérea: GOL, Localizador: FLXNAO. Pas...","3140,46",2185426
62827,2022,8,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,TKR98A,07/08/2022,"Companhia Aérea: AZUL, Localizador: TKR98A. Pa...","2850,9",2185429

De cara é possível observar que existem VÁRIOS dados NULOS, primeira coisa é entender o por que. Primeiro irei entender quantos dados NULOS existem em cada Coluna.

In [160]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62828 entries, 0 to 62827
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                62828 non-null  int64
 1   MES                62828 non-null  int64
 2   SENADOR            62828 non-null  object
 3   TIPO_DESPESA       62828 non-null  object
 4   CNPJ_CPF           62828 non-null  object
 5   FORNECEDOR         62828 non-null  object
 6   DOCUMENTO          60236 non-null  object
 7   DATA               62828 non-null  object
 8   DETALHAMENTO       34957 non-null  object
 9   VALOR_REEMBOLSADO  62828 non-null  object
 10  COD_DOCUMENTO      62828 non-null  int64
dtypes: int64(3), object(8)
memory usage: 5.3+ MB

In [161]:
dataset.isnull().sum()

ANO                      0
MES                      0
SENADOR                  0
TIPO_DESPESA             0
CNPJ_CPF                 0
FORNECEDOR               0
DOCUMENTO             2592
DATA                     0
DETALHAMENTO         27871
VALOR_REEMBOLSADO        0
COD_DOCUMENTO            0
dtype: int64

Analisando o conjunto de DADOS conseguimos verificar que: **Não excluiremos nenhuma linha**, pois ao meu ver todas as linhas trazem alguma informação relevante, **a coluna 'DOCUMENTO' e 'DETALHAMENTO' tem valores NULOS**, devemos verificar o que fazer, **a coluna 'DATA' está como tipo object**, devemos transformar em datetime para possiveis análises de Séries Temporais, **a coluna 'VALOR_REEMBOLSADO' está como tipo object**, devemos transformar em float.

In [162]:
dataset.VALOR_REEMBOLSADO

0          66,02
1         139,98
2           6000
3         316,39
4          99,45
          ...
62823    1826,25
62824    2189,41
62825      26,57
62826    3140,46
62827     2850,9
Name: VALOR_REEMBOLSADO, Length: 62828, dtype: object

Podemos notar que os valores estão separados por virgula, devemos primeiramente substituir para ponto, para que o pandas consiga realizar a transformação.

In [163]:
dataset.VALOR_REEMBOLSADO.replace(',','.', regex=True, inplace=True)

In [164]:
dataset.VALOR_REEMBOLSADO

0          66.02
1         139.98
2           6000
3         316.39
4          99.45
          ...
62823    1826.25
62824    2189.41
62825      26.57
62826    3140.46
62827     2850.9
Name: VALOR_REEMBOLSADO, Length: 62828, dtype: object

Conforme acima substituimos as virgulas por pontos.

In [165]:
dataset.VALOR_REEMBOLSADO = dataset.VALOR_REEMBOLSADO.astype(float)

In [166]:
dataset.VALOR_REEMBOLSADO.info()

<class 'pandas.core.series.Series'>
RangeIndex: 62828 entries, 0 to 62827
Series name: VALOR_REEMBOLSADO
Non-Null Count  Dtype
--------------  -----
62828 non-null  float64
dtypes: float64(1)
memory usage: 491.0 KB

Com isso transformamos a coluna 'VALOR_REEMBOLSADO' em float.

In [167]:
dataset.DATA

0        04/01/2019
1        04/01/2019
2        07/01/2019
3        25/12/2018
4        04/02/2019
            ...
62823    26/07/2022
62824    26/07/2022
62825    03/08/2022
62826    02/08/2022
62827    07/08/2022
Name: DATA, Length: 62828, dtype: object

In [168]:
dataset[(dataset.DATA.index == 10986)] = dataset[(dataset.DATA.index == 10986)].replace('31/01/0219', '31/01/2019')

In [169]:
dataset[(dataset.DATA.index == 10986)]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
10986,2019,1,LÚCIA VÂNIA,"Aluguel de imóveis para escritório político, c...",08.573.731/0001-38,LDE Contabilidade e Administração de Condomíni...,107007,31/01/2019,Taxa condominial,271.26,2114251

In [170]:
dataset[(dataset.DATA.index == 31996)] = dataset[(dataset.DATA.index == 31996)].replace('05/05/0202', '05/05/2020')

In [171]:
dataset[(dataset.DATA.index == 31996)]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
31996,2020,5,PLÍNIO VALÉRIO,Divulgação da atividade parlamentar,27.209.437/0001-96,Excelsior Comunicação Digital Ltda,2020/9,05/05/2020,NaN,1150.0,2144535

In [172]:
dataset[(dataset.DATA.index == 37872)] = dataset[(dataset.DATA.index == 37872)].replace('29/10/0202', '29/10/2021')

In [173]:
dataset[(dataset.DATA.index == 37872)]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
37872,2021,11,CARLOS VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ADRIA VIAGENS E TURISMO LTDA,YK1QHD,29/10/2021,"Companhia Aérea: AZUL, Localizador: YK1QHD. Pa...",339.9,2169237

In [174]:
dataset.DATA = pd.to_datetime(dataset.DATA, dayfirst=True)

In [175]:
dataset.DATA.info()

<class 'pandas.core.series.Series'>
RangeIndex: 62828 entries, 0 to 62827
Series name: DATA
Non-Null Count  Dtype
--------------  -----
62828 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 491.0 KB

In [176]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62828 entries, 0 to 62827
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                62828 non-null  int64
 1   MES                62828 non-null  int64
 2   SENADOR            62828 non-null  object
 3   TIPO_DESPESA       62828 non-null  object
 4   CNPJ_CPF           62828 non-null  object
 5   FORNECEDOR         62828 non-null  object
 6   DOCUMENTO          60236 non-null  object
 7   DATA               62828 non-null  datetime64[ns]
 8   DETALHAMENTO       34957 non-null  object
 9   VALOR_REEMBOLSADO  62828 non-null  float64
 10  COD_DOCUMENTO      62828 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 5.3+ MB

Foi feito as alterações das colunas 'DATA' e 'VALOR_REEMBOLSADO' os valores NULOS eu não irei alterar, pois entendo que são valores **NÃO CADASTRADOS**.