# 7 Days Data Science Alura

## Primeiro dia

No primeiro dia, nos foi passado os [Dados Abertos - CEAPS](https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps?utm_source=ActiveCampaign&utm_medium=email&utm_content=%237DaysOfCode+-+Ci%C3%AAncia+de+Dados+1%2F7%3A+Data+Cleaning+and+Preparation&utm_campaign=%5BAlura+%237Days+Of+Code%5D%28Java%29+Dia+1%2F7%3A+Consumir+uma+API+de+filmes), precisamos entender os dados, procurar inconsistências, fazer a limpeza.

No total são 15 arquivos 'csv' o primeiro passo é unir todos em um único DataFrame.

In [30]:
import os
import glob
import pandas as pd
os.chdir(r"C:\Users\Jose Eduardo\Documents\GitHub\7_days_data_science_alura\Dados")

In [33]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
all_filenames

['despesa_ceaps_2008.csv',
 'despesa_ceaps_2009.csv',
 'despesa_ceaps_2010.csv',
 'despesa_ceaps_2011.csv',
 'despesa_ceaps_2012.csv',
 'despesa_ceaps_2013.csv',
 'despesa_ceaps_2014.csv',
 'despesa_ceaps_2015.csv',
 'despesa_ceaps_2016.csv',
 'despesa_ceaps_2017.csv',
 'despesa_ceaps_2018.csv',
 'despesa_ceaps_2019.csv',
 'despesa_ceaps_2020.csv',
 'despesa_ceaps_2021.csv',
 'despesa_ceaps_2022.csv']

In [35]:
combined_csv = pd.concat([pd.read_csv(f, encoding='latin-1', sep=';') for f in all_filenames ])

In [37]:
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8')

In [40]:
combined_csv.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2008,9,ADA MELLO,"Contratação de consultorias, assessorias, pesq...",NaN,NaN,NaN,NaN,NaN,"12351,52","2,00809E+12"
1,2008,9,ADA MELLO,"Locomoção, hospedagem, alimentação, combustíve...",NaN,NaN,NaN,NaN,NaN,"386,6","2,00809E+12"
2,2008,10,ADA MELLO,"Contratação de consultorias, assessorias, pesq...",NaN,NaN,NaN,NaN,NaN,"12351,52","2,0081E+12"
3,2008,10,ADA MELLO,"Locomoção, hospedagem, alimentação, combustíve...",NaN,NaN,NaN,NaN,NaN,"2610,68","2,0081E+12"
4,2008,11,ADA MELLO,"Contratação de consultorias, assessorias, pesq...",NaN,NaN,NaN,NaN,NaN,"12351,52","2,00811E+12"

In [41]:
combined_csv.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
10272,2022,7,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FRMXSO,26/07/2022,"Companhia Aérea: GOL, Localizador: FRMXSO. Pas...","1826,25",2184750
10273,2022,7,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,YQRYAW,26/07/2022,"Companhia Aérea: LATAM, Localizador: YQRYAW. P...","2189,41",2184748
10274,2022,8,ZEQUINHA MARINHO,"Locomoção, hospedagem, alimentação, combustíve...",27.522.923/0001-60,Casarao da Vila Restaurante LTDA - ME,127032,03/08/2022,NaN,"26,57",2184892
10275,2022,8,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FLXNAO,02/08/2022,"Companhia Aérea: GOL, Localizador: FLXNAO. Pas...","3140,46",2185426
10276,2022,8,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,TKR98A,07/08/2022,"Companhia Aérea: AZUL, Localizador: TKR98A. Pa...","2850,9",2185429

In [48]:
combined_csv.shape

(311458, 11)

In [42]:
combined_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311458 entries, 0 to 10276
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO                311458 non-null  int64
 1   MES                311458 non-null  int64
 2   SENADOR            311458 non-null  object
 3   TIPO_DESPESA       311458 non-null  object
 4   CNPJ_CPF           308314 non-null  object
 5   FORNECEDOR         308314 non-null  object
 6   DOCUMENTO          287019 non-null  object
 7   DATA               308314 non-null  object
 8   DETALHAMENTO       177005 non-null  object
 9   VALOR_REEMBOLSADO  311458 non-null  object
 10  COD_DOCUMENTO      311456 non-null  object
dtypes: int64(2), object(9)
memory usage: 28.5+ MB

In [43]:
combined_csv.isnull().sum()

ANO                       0
MES                       0
SENADOR                   0
TIPO_DESPESA              0
CNPJ_CPF               3144
FORNECEDOR             3144
DOCUMENTO             24439
DATA                   3144
DETALHAMENTO         134453
VALOR_REEMBOLSADO         0
COD_DOCUMENTO             2
dtype: int64